# Gradle
.gradle/
build/
*/build/
*/plugins
output/

# IntelliJ IDEA
.idea/
*.iml
*.iws
*.ipr
out/

# Eclipse
.classpath
.project
.settings/
bin/

# macOS
.DS_Store

# Logs
*.log

# Local configuration
local.properties
